[General]
# disable by default, this can be overridden with the env variable
# export TLSOBS_API_ENABLE=1
Enable          = on

MaxProc         = 10

# hour interval allowed to serve previous scan results instead of initiating a new one.
ScanRefreshRate = 24

# IP:PORT of the postgres database, can be superseded by the environment variable
# export TLSOBS_POSTGRES="127.0.0.1:5432"
Postgres        = "127.0.0.1:5432"

# export TLSOBS_POSTGRESDB="observatory"
PostgresDB      = "observatory"

# export TLSOBS_POSTGRESUSER="tlsobsapi"
PostgresUser    = "tlsobsapi"

# export TLSOBS_POSTGRESPASS="mysecretpassphrase"
PostgresPass    = "mysecretpassphrase"

# if on, postgres must provide a certificate from a trusted CA
# that is valid for the host in `Postgres`
PostgresUseTLS= off

APIListenAddr   = ":8083"